#include "base.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES
// Build Options
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO
// Apple Clang - Code Generation
GCC_OPTIMIZATION_LEVEL = 0
// Apple Clang - Preprocessing
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
// Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
OTHER_SWIFT_FLAGS = -DXcode -DDEBUG -DTRACE_RESOURCES -Xfrontend -warn-long-function-bodies=100 -Xfrontend -warn-long-expression-type-checking=100

////////////////////////////////////////////////////////////////////////////////////////////////////
// USER-DEFINED
////////////////////////////////////////////////////////////////////////////////////////////////////
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
