// Signing
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = P8DTFY4SKV
//PROVISIONING_PROFILE_SPECIFIER =




////////////////////////////////////////////////////////////////////////////////////////////////////
// TARGET CONFIG
////////////////////////////////////////////////////////////////////////////////////////////////////
// Architectures
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
VALID_ARCHS = arm64 arm64e armv7 armv7s

// Build Options
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// Deployment
TARGETED_DEVICE_FAMILY = 1,2

// Apple LLVM - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TRACE_RESOURCES=1

// Linking
MACH_O_TYPE = mh_execute
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// Packaging
INFOPLIST_FILE = $(PROJECT_NAME).xcodeproj/$(TARGET_NAME)_Info.plist
PRODUCT_MODULE_NAME = $(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = app

// Search Paths
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS

// Asset Catalog App Icon Set Name
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon




////////////////////////////////////////////////////////////////////////////////////////////////////
// COCOA PODS
////////////////////////////////////////////////////////////////////////////////////////////////////
