//Architectures
ARCHS = $(ARCHS_STANDARD)
SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
VALID_ARCHS = $(ARCHS_STANDARD) armv7s

//Build Options
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = YES
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES

// Deployment
COPY_PHASE_STRIP = NO
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO
USE_HEADERMAP = YES

// Signing
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER =
PROVISIONING_PROFILE =

// Versioning
CURRENT_PROJECT_VERSION = 1.0.0
VERSIONING_SYSTEM = apple-generic

// Apple LLVM 8.0 Code Generation
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = s

// Apple LLVM 8.0 - Language
GCC_C_LANGUAGE_STANDARD = gnu99

// Apple LLVM 8.0 - Language - C++
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++

// Apple LLVM 8.0 - Language - Modules
CLANG_ENABLE_MODULES = YES

// Apple LLVM 8.0 - Language - Objective C
CLANG_ENABLE_OBJC_ARC = YES

// Apple LLVM 8.0 - Preprocessing
ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES

// Apple LLVM 8.0 - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Apple LLVM 8.0 - Warning - All languages
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple LLVM 8.0 - Warnings - C++
CLANG_WARN_SUSPICIOUS_MOVE = YES

// Apple LLVM 8.0 - Warnings - Objective C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

// Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS =

// Swift Compiler - Version
SWIFT_VERSION = 3.0





////////////////////////////////////////////////////////////////////////////////////////////////////
// TARGET CONFIG
////////////////////////////////////////////////////////////////////////////////////////////////////
// Linking
MACH_O_TYPE = mh_bundle
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// Packaging
INFOPLIST_FILE = $(PROJECT_NAME).xcodeproj/$(TARGET_NAME)_Info.plist
PRODUCT_MODULE_NAME = $(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = xctest
